CREATE FUNCTION [dbo].[Fnt_getRFC](
@NOMBRE VARCHAR (50) =NULL, 
@APEPAT VARCHAR (50) =NULL,
@APEMAT VARCHAR (50) =NULL,
@FECHA VARCHAR (50) =NULL)

RETURNS   VARCHAR (15) 
AS 
BEGIN 
DECLARE @CADENA VARCHAR (15)

SET @CADENA = SUBSTRING (@APEPAT,0,LEN(@APEPAT)-LEN(@APEPAT)+3)+  SUBSTRING (@APEMAT,0,LEN(@APEMAT)-LEN(@APEMAT)+2)+
SUBSTRING (@NOMBRE,0,LEN(@NOMBRE)-LEN(@NOMBRE)+2)+ SUBSTRING (REPLACE(@FECHA,'-',''),3,LEN(REPLACE(@FECHA,'-','')) )
  
  
RETURN UPPER(@CADENA)
  
END 
--SAMJ920727
--SELECT DBO.GETRFC('JORGE','SANTOS','MARQUEZ','1992-07-27') AS RFC

--SAMJ920727
 