CREATE PROCEDURE [dbo].[sp_ManejaClientes]  
@OPCION INT = NULL,
@ID_CLIENTE INT=NULL,
@NOMBRE VARCHAR (50)=NULL,
@APATERNO VARCHAR (50)=NULL,
@AMATERNO VARCHAR (50)=NULL ,
@FECHA_NACIMIENTO  DATE =NULL
AS
 DECLARE  @Insert INT= 1,
		  @Update INT= 2,
		  @Select INT= 3,
		  @Delete INT= 4
 DECLARE @VALIDADOR INT=0
 DECLARE @RFC varchar (10)=  DBO.GETRFC(@NOMBRE, @APATERNO,@AMATERNO,@FECHA_NACIMIENTO) 

IF @OPCION =@Select
BEGIN
	SELECT * FROM Clientes
END

IF @OPCION =@Insert
BEGIN
   SET @VALIDADOR= (SELECT COUNT (NOMBRE) FROM CLIENTES WHERE NOMBRE=@NOMBRE AND APATERNO =@APATERNO )
	IF @VALIDADOR> 0
	BEGIN
	 SELECT '1' AS RESULT
	END 
	ELSE
	BEGIN
		INSERT INTO Clientes VALUES (NEXT VALUE FOR SQ_Clientes, @NOMBRE, @APATERNO,@AMATERNO,@FECHA_NACIMIENTO,@RFC )
		 SELECT '0' AS RESULT
	END
	
 
END

 /*GO
 IF NOT EXISTS
(
       SELECT 1
       FROM   SYS.COLUMNS
       WHERE  NAME = N'RFC_CLIENTES'
       AND    OBJECT_ID = OBJECT_ID(N'DBO.Clientes') )
BEGIN
  ALTER TABLE [DBO].Clientes ADD RFC_CLIENTES VARCHAR (10)
END
GO*/